# User level pre-commit hooks
pre-commit-user

# Make target touch files
.docker-compose-built

# Python & setuptools
__pycache__
/build
/deb-build
/reprepro
/rpm-build
/tar-build
/setup-bundle-build
/dist
/*.egg-info
*.py[c,o]
/.eggs
.coverage
coverage.xml
htmlcov
*.tox

# Mac OS X
*.DS_Store

# VSCode
.vscode/

# Editors
*.sw[poj]
*~

# SQLite
*.sqlite3

# gateway certs
tools/configs/gateway.crt
tools/configs/gateway.key
tools/configs/gateway.csr

# Mock built target
.has_built_api
.has_built_proxy

# Dev env configs
tools/configs/proxy.yaml
