# Init by Ansible Collection ansible.ansible_platform_collection
gateway_http_ports:   # Http port where the proxy will be listening, these ports should be exposed
  - name: API Port    # -- name of the port, used by [gateway_services | gateway_routes]/http_port
    number: 9080      # -- port number, by default it's routed to port 443 outside the container
    use_https: true   # -- http/https flag
    is_api_port: true # -- if true, port is used for gateway_services. Only one can be true

gateway_service_types:  # Service types
  - name: gateway  # Always exists, no details needed
  - name: controller
  - name: hub
  - name: eda
  - name: lightspeed
    ping_url: "/api/v1/health/"
    service_index_path: "/v1/service-index/"

gateway_service_clusters:  # Service clusters (1 per type)
  - name: gateway # -- name of cluster, used by [gateway_service_nodes | gateway_services | gateway_routes]/service_cluster
    service_type: gateway # -- type of cluster (allowed values: gateway/controller/eda/hub)
{% if 'controller' in gateway_services %}
  - name: controller
    service_type: controller
{% endif %}
{% if 'hub'  in gateway_services %}
  - name: hub
    service_type: hub
{% endif %}
{% if 'eda' in gateway_services %}
  - name: eda
    service_type: eda
{% endif %}
{% if 'lightspeed' in gateway_services %}
  - name: lightspeed
    service_type: lightspeed
{% endif %}

gateway_service_nodes:   # Nodes of service clusters
{% for i in range(gateway_node_count|int) %}
{% set container_id = loop.index %}
  - name: Gateway Node {{ container_id }}        # -- name of node
    service_cluster: gateway                     # -- belonging service cluster
    address: "gateway{{ container_id  }}"        # -- hostname or IP of the service
{% endfor %}
{% if 'controller' in gateway_services %}
  - name: Controller Node
    service_cluster: controller
    address: "{{ gateway_host_address }}"
{% endif %}
{% if 'hub' in gateway_services %}
  - name: Hub Node
    service_cluster: hub
    address: "{{ gateway_host_address }}"
{% endif %}
{% if 'eda' in gateway_services %}
  - name: EDA Node
    service_cluster: eda
    address: "{{ gateway_host_address }}"
{% endif %}
{% if 'lightspeed' in gateway_services %}
  - name: lightspeed
    service_cluster: lightspeed
    address: "{{ gateway_host_address }}"
{% endif %}

gateway_services:    # API Services (Hub/EDA/Controller/gateway)
    # It configures proxy requests
    # - from https://<gateway url>:9080/...
    # - to https://gateway:8000/...  # gateway container name is taken from service node "gateway Node"
  - name: Gateway API                 # -- name of the API route
    description: Proxy to the gateway # -- description
    api_slug: gateway                 # -- constant value "gateway" required, but not used
    http_port: API Port               # -- http port name, where is the proxy listening
    service_cluster: gateway          # -- service cluster name
    is_service_https: true            # -- defines that the gateway API is listening on https
    service_path: '/'                 # -- path on the gateway API
    service_port: 8000                # -- port on the gateway API
    order: 100
    enable_gateway_auth: False        # -- Gateway should not use itself for authentication

{% for service in gateway_services %}
{% if service == 'hub' %}
    # It configures proxy requests
    # - from https://<gateway url>:9080/api/hub/...
    # - to http://localhost:5001/api/hub/...  # localhost is taken from service node "Hub Node"
  - name: Automation Hub API
    description: Proxy to the Automation Hub
    http_port: API Port               # -- http port name, where is the proxy listening
    api_slug: galaxy                  # -- url slug on gateway (here https://<gateway url>:9080/api/<api_slug>/)
    service_cluster: hub              # -- service cluster name (Automation Hub service)
    service_path: '/api/galaxy/'      # -- API path on the Automation Hub
    service_port: 5001                # -- API port on the Automation Hub
    order: 1

{% elif service == 'controller' %}
    # It configures proxy requests
    # - from https://<gateway url>:9080/api/controller/...
    # - to https://localhost:8043/api/controller/...  # localhost is taken from service node "Controller Node"
  - name: Controller API
    description: Proxy to the Controller
    http_port: API Port
    api_slug: controller
    service_cluster: controller
    is_service_https: true
    service_path: '/api/controller/'
    service_port: 8043
    order: 2

{% elif service == 'eda' %}
    # It configures proxy requests
    # - from https://<gateway url>:9080/api/eda/...
    # - to http://localhost:8010/api/eda/...  # localhost is taken from service node "Controller Node"
  - name: Event Driven Automation API
    description: Proxy to the EDA
    http_port: API Port
    api_slug: eda
    service_cluster: eda
    is_service_https: false
    service_path: '/api/eda/'
    service_port: 8010
    order: 3
{% elif service == 'lightspeed' %}
    # It configures proxy requests
    # - from https://<gateway url>:9080/api/lightspeed/...
    # - to http://localhost:7080/api/...  # localhost is taken from service node "Controller Node"
  - name: Ansible Lightspeed
    description: Proxy to LIGHTSPEED
    http_port: API Port
    api_slug: lightspeed
    service_cluster: lightspeed
    is_service_https: false
    service_path: '/api/'
    service_port: 7080
    order: 4

{% endif %}
{% endfor %}

{% if 'hub' in gateway_services %}
gateway_routes:
    # It configures proxy requests
    # - from https://<gateway url>:9080/v2/...
    # - to http://localhost:5001/v2/...  # localhost is taken from service node "Hub Node"
  - name: Hub Container Registry
    description: Hub Container Registry
    gateway_path: '/v2/'
    http_port: API Port
    service_cluster: hub
    is_service_https: false
    service_path: '/v2/'
    service_port: 5001
    enable_gateway_auth: true

  - name: Hub Static Files
    http_port: API Port
    service_cluster: hub
    service_port: 5001
    is_service_https: false
    service_path: '/static/galaxy_ng/'
    gateway_path: '/static/galaxy_ng/'
    description: ''
    enable_gateway_auth: true

  - name: Hub UI
    http_port: API Port
    service_cluster: hub
    service_port: 5001
    is_service_https: false
    service_path: '/ui/'
    gateway_path: '/ui/'
    description: ''
    enable_gateway_auth: true

  - name: Pulp Content
    http_port: API Port
    service_cluster: hub
    service_port: 5001
    is_service_https: false
    service_path: '/pulp'
    gateway_path: '/pulp'
    description: 'pulp content'
    enable_gateway_auth: true

  - name: Pulp Container Tokens
    http_port: API Port
    service_cluster: hub
    service_port: 5001
    is_service_https: false
    service_path: '/token'
    gateway_path: '/token'
    description: 'pulp container tokens'
    enable_gateway_auth: true

  - name: Pulp Container Extensions
    http_port: API Port
    service_cluster: hub
    service_port: 5001
    is_service_https: false
    service_path: '/extensions'
    gateway_path: '/extensions'
    description: 'pulp container extensions'
    enable_gateway_auth: true
{% endif %}

