receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:{{ otel_collector_grpc_port }}
      http:
        endpoint: 0.0.0.0:{{ otel_collector_http_port }}

processors:
  batch:

exporters:
  otlphttp/loki:
    endpoint: http://loki:{{ loki_http_port }}/otlp
    tls:
      insecure: true
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true
  prometheus:
    endpoint: 0.0.0.0:{{ otel_collector_prometheus_port }}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki]
