apiVersion: 1

datasources:
  - name: Loki
    type: loki
    url: http://loki:{{ loki_http_port }}
    access: proxy
    isDefault: true

  - name: Tempo
    type: tempo
    url: http://tempo:{{ tempo_http_port }}
    access: proxy

  - name: Prometheus
    type: prometheus
    url: http://otel-collector:{{ otel_collector_prometheus_port }}
    access: proxy
