static_resources:
  clusters:
  - name: "auth_cluster"
    type: STRICT_DNS
    typed_extension_protocol_options:
      envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
        "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
        explicit_http_config:
          http2_protocol_options: {}
    load_assignment:
      cluster_name: auth_cluster
      endpoints:
      - lb_endpoints:
        {% for endpoint in services.gateway.load_balance %}
        - endpoint:
            address:
              socket_address:
                address: "{{ endpoint.address }}"
                port_value: {{ endpoint.control_plane_port }}
        {% endfor %}
  - name: "hub"
    type: LOGICAL_DNS
    dns_lookup_family: V4_ONLY
    load_assignment:
      cluster_name: "hub"
      endpoints:
      - lb_endpoints:
        {% for endpoint in services.hub.load_balance %}
        - endpoint:
            address:
              socket_address:
                address: "{{ endpoint.address }}"
                port_value: {{ endpoint.port }}
        {% endfor %}
    {% if services.hub.use_tls %}
    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
    {% endif %}

  - name: "gateway"
    type: LOGICAL_DNS
    dns_lookup_family: V4_ONLY
    load_assignment:
      cluster_name: "gateway"
      endpoints:
      - lb_endpoints:
        {% for endpoint in services.gateway.load_balance %}
        - endpoint:
            address:
              socket_address:
                address: {{ endpoint.address }}
                port_value: {{ endpoint.port }}
        {% endfor %}
    {% if services.gateway.use_tls %}
    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
    {% endif %}

  - name: "controller"
    type: LOGICAL_DNS
    dns_lookup_family: V4_ONLY
    load_assignment:
      cluster_name: "controller"
      endpoints:
      - lb_endpoints:
        {% for endpoint in services.controller.load_balance %}
        - endpoint:
            address:
              socket_address:
                address: {{ endpoint.address }}
                port_value: {{ endpoint.port }}
        {% endfor %}
    {% if services.controller.use_tls %}
    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
    {% endif %}

  listeners:
  - name: listener_0
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 9080
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: ingress_http
          access_log:
          - name: envoy.access_loggers.stdout
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StdoutAccessLog
          http_filters:
          - name: lua_filter_with_custom_name_1
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
              source_codes:
                rewrite.lua:
                  inline_string: |
                    function envoy_on_response(response_handle)
                        local location = response_handle:headers():get("Location")
                        local prefix_rewrite = response_handle:metadata():get("prefix")
                        local prefix = response_handle:metadata():get("prefix_rewrite")

                        if location then
                            local new_location = string.gsub(location, prefix, prefix_rewrite)
                            response_handle:logInfo(new_location)
                            response_handle:headers():replace("Location", new_location)
                        end

                        local body = response_handle:body()
                        if body then
                            body_bytes = body:getBytes(0, body:length())
                            local modified_body = string.gsub(body_bytes, prefix, prefix_rewrite)

                            local content_length = response_handle:body():setBytes(modified_body)
                            request_handle:headers():replace("content-length", content_length)
                        end
                    end
          - name: envoy.filters.http.ext_authz
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
              grpc_service:
                envoy_grpc:
                  cluster_name: auth_cluster

                # Default is 200ms; override if your server needs e.g. warmup time.
                timeout: 0.5s
              transport_api_version: V3
              # include_peer_certificate: true
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

          route_config:
            name: local_route
            virtual_hosts:
            - name: local_service
              domains: ["*"]
              routes:
              - match:
                  prefix: "/up"
                direct_response:
                  status: 200
              - match:
                  prefix: "{{ services.hub.proxy_root }}"
                route:
                  prefix_rewrite: "{{ services.hub.service_root }}"
                  cluster: hub
                metadata:
                  filter_metadata:
                    envoy.filters.http.lua:
                      prefix: "{{ services.hub.proxy_root }}"
                      prefix_rewrite: "{{ services.hub.service_root }}"
                typed_per_filter_config:
                  envoy.filters.http.lua:
                    "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.LuaPerRoute
                    name: rewrite.lua
              - match:
                  prefix: "{{ services.controller.proxy_root }}"
                route:
                  prefix_rewrite: "{{ services.controller.service_root }}"
                  cluster: controller
                metadata:
                  filter_metadata:
                    envoy.filters.http.lua:
                      prefix: "{{ services.controller.proxy_root }}"
                      prefix_rewrite: "{{ services.controller.service_root }}"
                typed_per_filter_config:
                  envoy.filters.http.lua:
                    "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.LuaPerRoute
                    name: rewrite.lua
              - match:
                  prefix: "{{ services.gateway.proxy_root }}"
                route:
                  cluster: gateway
                typed_per_filter_config:
                  envoy.filters.http.ext_authz:
                    "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthzPerRoute
                    disabled: true
              - match:
                  prefix: "/static/"
                route:
                  cluster: gateway
                typed_per_filter_config:
                  envoy.filters.http.ext_authz:
                    "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthzPerRoute
                    disabled: true

      {% if proxy.use_tls %}
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
          common_tls_context:
            tls_certificates:
            - certificate_chain:
                filename: {{ proxy.ssl_certificate }}
              private_key:
                filename: {{ proxy.ssl_certificate_key }}
        {% endif %}


{% if proxy.enable_admin_interface %}
admin:
  address:
    socket_address:
      address: {{ proxy.admin_address }}
      port_value: {{ proxy.admin_port }}
{% endif %}
