cryptography >= 41.0.6 # Required by django https://github.com/ansible/aap-gateway/security/dependabot/9
Django>=4.2.7,<4.3.0
djangorestframework
django-crum
django-dynamic-preferences
django-extensions
django-split-settings
grpcio
grpcio-tools
protobuf>=4.21
psycopg
pyjwt
redis
requests
uwsgi
xds-protos>=1.58
PyYAML
# Not directly imported but pinned per dependabot alerts
urllib3 == 1.26.18 # https://github.com/ansible/aap-gateway/security/dependabot/6; edit: changed to 1.26.18 to fix build pipelines
argon2-cffi