build
tox
PyYAML==5.3.1  # We have to pin PyYAML because newer versions can't compile wth the latest Cython
ansible  # Used in build process to generate some configs
docker-compose  # Needed to support community.general.docker modules
