ansible  # Used in build process to generate some configs
build
docker-compose  # Needed to support community.general.docker modules
ipython
remote-pdb
tox
PyYAML==5.3.1  # We have to pin PyYAML because newer versions can't compile wth the latest Cython
colorama
logutils
