ansible  # Used in build process to generate some configs
build
ipython # Used in shell_plus
remote-pdb # The debugger setup with Python's breakpoint()
tox # Used for unit tests
colorama # Allows addition of color to logs
logutils
psycopg[binary]
requests
setuptools # Needed for the plumbing of the side cars
docker     # Needed for the plumbing of the side cars via Ansible
